.wrapper img {
    width: 100%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
    border-radius: calc(var(--radius-inner) / 2);
}

.wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--padding-inner);
}

.bar {
    padding: 0px var(--padding-inner);
    width: 100%;
}

.subtitle {
    background-color: transparent;
    position: fixed;
    align-items: center;
    color: white;

    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: var(--padding);
    font-weight: bold;
    opacity: 0;
}
