.wrapper {
    border-radius: 0;
    border: 0px;
    min-height: 100%;
    position: relative;
    transition: var(--anim-1);
    background: var(--color-main);
    border-right: 1px solid var(--color-separate);
}

.wrapper.expanded {
    background-color: var(--color-second);
}

.market_link {
    background-color: transparent;
    width: 100%;
    border-radius: var(--radius);
}

.market_link.active {
    background-color: var(--accent);
}

.market_link.active button {
    background-color: transparent;
}
