:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.5;

    color-scheme: light dark;
    background-color: var(--color-main);
    color: var(--color-text);
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: var(--accent);
    text-decoration: inherit;
}
a:hover {
    color: var(--accent);
}

h1 {
    font-size: var(--font-h1-size);
}

h2 {
    font-size: var(--font-h2-size);
}
h3 {
    font-size: var(--font-h3-size);
}

p {
    font-size: var(--font-size);
}

button {
    border-radius: var(--radius);
    padding: var(--padding-inner) calc(var(--padding-inner) * 2);
    background-color: var(--color-second);
    color: var(--color-text);
    border: 1px solid var(--color-separate);
    text-align: center;
}

input {
    width: 100%;
    border-radius: var(--radius);
    padding: var(--padding-inner) var(--padding);
    background-color: var(--color-second);
    color: var(--color-text);
    border: 1px solid var(--color-separate);
    font-size: var(--font-size);
}

input:focus {
    outline: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-main: var(--color-main-light);
        --color-second: var(--color-second-light);
        --color-third: var(--color-third-light);
        --color-text: var(--color-text-light);
        --color-separate: var(--color-separate-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main: var(--color-main-dark);
        --color-second: var(--color-second-dark);
        --color-third: var(--color-third-dark);
        --color-text: var(--color-text-dark);
        --color-separate: var(--color-separate-dark);
    }
}
