:root {
    /* colors */
    --accent: #7b5fe3;

    --color-main-dark: hsl(0, 0%, 8%);
    --color-second-dark: hsl(0, 0%, 13%);
    --color-second-transparent-dark: rgba(33, 33, 33, 0.8);
    --color-third-dark: hsl(0, 0%, 18%);
    --color-separate-dark: hsl(0, 0%, 22%);
    --color-text-dark: hsl(0, 0%, 86%);
    --color-placeholder-dark: hsl(0, 0%, 50%);

    --color-main-light: hsl(0, 0%, 94%);
    --color-second-light: hsl(0, 0%, 98%);
    --color-second-transparent-light: rgba(250, 250, 250, 0.8);
    --color-third-light: hsl(0, 0%, 91%);
    --color-text-light: rgb(30, 30, 30);
    --color-separate-light: hsl(0, 0%, 86%);
    --color-placeholder-light: hsl(0, 0%, 50%);

    --color-main: var(--color-main-dark);
    --color-second: var(--color-second-dark);
    --color-third: var(--color-third-dark);
    --color-text: var(--color-text-dark);
    --color-separate: var(--color-separate-dark);
    --color-placeholder: var(--color-placeholder-dark);
    --color-second-transparent: var(var(--color-second-transparent-dark));
}

:root {
    /* font */
    --font-h1-size: 2.4em;
    --font-h2-size: 1.75em;
    --font-h3-size: 1.2em;
    --font-size: 0.98em;
    --font-small-size: 12px;

    --font-weight-bold: 600;
}

:root {
    /* layout */
    --padding-inner: 10px;
    --padding-def: 15px;
    --padding: 20px;

    --radius: 25px;
    --radius-inner: calc(var(--radius) - var(--padding-inner));
}

:root {
    /* animations */
    --anim-1: 0.1s ease-in-out;
    --anim-2: 0.4s ease-in-out;
    --anim-3: 1.1s ease-in-out;

    --anim-1-linear: 0.1s;
    --anim-2-linear: 1.1s;
    --anim-3-linear: 1.8s;
}
