.wrapper {
    display: flex;
    align-items: center;
    background: var(--color-main);
    border-radius: var(--radius);
    padding: var(--padding-inner);

    padding-left: var(--padding-inner);
    padding-right: 0;
    gap: var(--padding-inner);
    width: 100%;
    transition: var(--anim-1);
    outline: 0px transparent;
}

.wrapper:hover {
    background-color: var(--color-third);
}

.wrapper button {
    background: transparent;
}

.wrapper input {
    font-size: var(--font-size) !important;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    background: transparent;
    border-radius: 0;
}

.wrapper:has(input:focus) {
    outline: 1px solid var(--accent);
}
