.icon {
    padding: 0;
    border: none;
    border-radius: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: var(--padding-inner);
    font-size: var(--font-h2-size);
}
.icon p {
    font-size: 0.6em;
}
